@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Montserrat&family=Roboto&family=Space+Mono&display=swap');

:root{
  --ff-1: 'Space Grotesk', sans-serif;
  --ff-2:'Roboto', sans-serif;
  --clr-prmy:  #1b97de;
  --clr-dk:#020C12;
  --clr-lt:hsl(202, 78%, 95%);
  --clr-ltst:white;
  --clr-ntrl:#f8f9fa;
  --fs-lg:3.125rem;
  --fs-m: 2.4rem;
  --fs-sm:.938rem;
  --section-padding:1.5rem;
}
/* GLobal */
body{
  font-family:var(--ff-2);
  margin:0;
  padding:0;
  min-height:100vh;
  /* background-color:var(--clr-ntrl); */
  background-color:;
  color:var(--clr-dk);
  box-sizing: border-box;line-height:1.5rem;
}
.section{
  padding:var(--section-padding) 0;
}
p{
  padding:0 1rem;
}
h1, h2{
  font-weight:1200;
  line-height:1.2;
  padding:0 1rem;
  font-family:var(--ff-1);
}
h1{
  width:70%;
  font-size:var(--fs-lg);
}
h2{
  font-size:var(--fs-m);
}
a{
  text-decoration: none;
  color:var(--clr-dk)
}

/* Navbar */
nav{
  height:4rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem;
  background-color: var(--clr-ntrl);
}
a{
  text-decoration: none;
}


#logo{
  font-weight:bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2rem;
}
.navbar-img{
  width:auto;
  height:2.5rem;
  text-align: center;
}
.sidenav{
  min-height:100vh;
  min-width:75vw;
  position:absolute;
  position:fixed;
  z-index:1;
  background-color: var(--clr-ltst);
  right:0;
}
.nav-btn{
  display:none;
}
.top-sidenav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.8rem;
}
.sidenav span, .footer span{
  display: flex;
  justify-content: space-between;
  padding:0 1rem;
  align-items: center;;
  gap:.7rem;
  border-top:2px solid var(--clr-lt);
}
.sidenav img{
  width:2rem;
  height:50%;
  filter:invert(51%) sepia(65%) saturate(627%) hue-rotate(158deg) brightness(89%) contrast(96%);
}
.sidenav #x{
  width:3rem;
  height:3rem;
  filter:invert(51%) sepia(65%) saturate(627%) hue-rotate(158deg) brightness(89%) contrast(96%);
}

.sidenav >.link-container{
  display:flex;
  flex-direction: column;
  padding:2rem;
}
.link-container a, .footer-link-container a{
  padding:1rem;
  background-color: var(--clr-ltst);
  border-top:2px solid var(--clr-lt)
}
.social-info{
  display:flex;
  gap:1rem;
  align-items: center;
  justify-content: left;
  padding:1.5rem 1rem;
}
.social-inf0>*{
 filter: invert(76%) sepia(40%) saturate(316%) hue-rotate(168deg) brightness(102%) contrast(91%)!important;
}


/* HeroSection */
#hero-img1{
  width:100%;
  height:50%;
  margin-top:5rem;
}
.hero-section{
  background-color: var(--clr-ntrl);
}
.hero-section p{
  position:relative;
  max-width:85%;
}
/* TO DO */
/* .hero-section p::before{
  display:inline-block;
content:"hi";
background-color: var(--clr-prmy);
height:calc(100%-15px);
} */

/* Buttons */
#right-arrow{
  display:inline-block;
  height:1rem;
  margin-left:1rem;

}
#right-arrow:hover{
  filter:invert(100%) sepia(0%) saturate(7497%) hue-rotate(174deg) brightness(103%) contrast(102%);
  /* Fix hover to change color when btn is clicked not just arrow */
}
.primary #right-arrow:hover{
  color:black;
}
.primary #right-arrow{
  filter:invert(100%) sepia(0%) saturate(7497%) hue-rotate(174deg) brightness(103%) contrast(102%);

}
.btn{
  padding:1.2rem 2.5rem;
  border-radius:.3rem;
  border:none;
  font-weight:bolder;
  margin:2rem 1rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.normal{
  color:black;
  background-color: white;
 
}
.normal:hover{
  background-color: var(--clr-prmy);
  color:var(--clr-ltst);
  transition:.3s ;

}
.primary{
  background-color:var(--clr-prmy);
  color:var(--clr-ltst);
}
.primary:hover{
  background-color:var(--clr-lt);

}
.secondary{
  background-color: var(--clr-lt);
  color:var(--clr-prmy);
}
.secondary:hover{
  background-color: var(--clr-prmy);
  color:var(--clr-ltst);
}
/* Skills Section */
.skills-section, .skills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width:10rem;
  height:10rem;
  background-color: var(--clr-lt);
}
.skills-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.skills-section img{
  width:30%;
}
/* #About-Me-Section */

#about-img{
  width:100%;
  margin-top:2.5rem;
}
/* Projects */
.projects img{
  width:100%;
}
.project{
  padding:2rem;
}
.project a{
  display:block;
 padding-top:1rem;
 font-weight:bolder;
}
.about-me #right-arrow{
  filter: invert(51%) sepia(65%) saturate(627%) hue-rotate(158deg) brightness(89%) contrast(96%);
}
/* #endAbout-Me-Section */

/* Contact Me */
.contact{
  background-color: var(--clr-ntrl);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact>*{
  width:90vw;
}
form{
  padding:2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2.5rem;
}
form>*{
  width:80vw;
  padding:1rem;
  border-radius:.5rem;
  border:none;
  height:2rem;
  font-weight: bolder;
  
}
input::placeholder, textarea::placeholder{
  color:var(--clr-dk);
}
input:focus, textarea:focus{
  border:none;
}
.contact .btn{
  margin:1rem 0;
  color:var(--clr-lt);
}
.contact .btn #right-arrow{
   filter:invert(100%) sepia(0%) saturate(7497%) hue-rotate(174deg) brightness(103%) contrast(102%);
}
/* Footer */
.footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-link-container{
  display:flex;
  flex-direction: column;
}
.footer-link-container a{
  width:95vw;
  text-align: center;
}
.footer span{
  width:80vw;
  padding:0 2rem;
  justify-content: space-between;
}
/* Media queries global*/


/* Navbar media queries */
@media screen and (min-width:768px){
  nav{
    padding:2rem;
  }  
  nav .btn{
      /* display:block; */
      margin-left:auto;
    }
}
/* Hero media queries */
@media screen and (min-width:768px){
  .hero-section{
    height:30vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .hero-text{
    position:absolute;
    width:50%;
    left:1rem;
    
  }
  #hero-img1{
    width:50%;
    position:absolute;
    right:1rem;
    top:-7rem;
  }
}
/* Skills media queries */
@media screen and (min-width:768px){
    .skills-container{
      flex-direction: row;
      width:70%;
      flex-wrap: wrap;
      gap:1rem;
    }

}
/* About me media queries*/
@media screen and (min-width:768px){
  #about-img{
    width:80vw;
    margin-top:3rem;
    margin-left:13%;
  }
}
/* My Projects media queries*/
@media screen and (min-width:768px){
  .project-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100vw;
    justify-content: center;
    align-items: center;
  }
  .project{
    width:38%;
  }
}
/* Footer media queries */
@media screen and (min-width:768px){
    .footer{
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-between;
    }
    .contact-info, .footer-link-container{
      width:50%;
    }
    
    .contact-info span, {
      width:83%;
      align-items: center;
    }
    .footer-link-container{
      margin-top:4rem;
    }
    .footer-link-container a{
      width:90%;
    }
    .social-info{
      margin-left:1rem;
    }
}